# Core functionality - changes here should be rare!
/src/app.py                   @kleo
/src/backend/database.py      @kleo
/src/backend/routers/auth.py  @kleo

# The frontend will need refactored soon to be more object oriented.
/src/static/   @kleo
